/* .adv-accordion:not(.no-transition) *, */
.adv-accordion:not(.no-transition) .accordionRoot{
	-webkit-transition: height .5s;
	transition: height .5s;
}

[data-accordion='header']{
	padding: 0 5px;
}
[data-accordion='content']{	
	overflow: auto;
	width: 100%;
	
}